<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.priyanshu.mappr" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".Data.MapprApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activities.LoginPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" >
        </activity>
        <activity
            android:name=".Activities.SignUpStudent"
            android:label="@string/title_activity_sign_up_student" >
        </activity>
        <activity android:name=".Activities.CommentPage" >
        </activity>
        <activity
            android:name=".Activities.AcademicsActivity"
            android:label="@string/title_activity_academics" >
        </activity>
        <activity
            android:name=".Activities.ExCurActivity"
            android:label="@string/title_activity_ex_cur" >
        </activity>
        <activity
            android:name=".Activities.BehaviourActivity"
            android:label="@string/title_activity_behaviour" >
        </activity>
        <activity
            android:name=".Activities.TrendsActivity"
            android:label="@string/title_activity_trends" >
        </activity>

    </application>

</manifest>
