<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.priyanshu.mappr" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" >
        </activity>
        <activity
            android:name=".SignUpStudent"
            android:label="@string/title_activity_sign_up_student" >
        </activity>
        <activity android:name=".CommentPage" >
        </activity>
        <activity
            android:name=".AcademicsActivity"
            android:label="@string/title_activity_academics" >
        </activity>
        <activity
            android:name=".ExCurActivity"
            android:label="@string/title_activity_ex_cur" >
        </activity>
        <activity
            android:name=".BehaviourActivity"
            android:label="@string/title_activity_behaviour" >
        </activity>
        <activity
            android:name=".TrendsActivity"
            android:label="@string/title_activity_trends" >
        </activity>
        <activity
            android:name=".Behaviour" >
        </activity>
    </application>

</manifest>
